.footer 
    .container 
        .footer__wrap 
            h2.footer__title Never miss a drop!
            p.footer__text Subscribe to super-exclusive drop list and be the first to know about upcoming drops
            form.footer__form
                input(type="text" placeholder='Enter your email address').footer__input
                button.footer__button Subscribe
        .footer__copyrights © 2018 - 2022 NFTKING, Inc

