.header
    .container
        ul.header__menu
            li.header__menu-item 
                a(href="#") Marketplace
            li.header__menu-item 
                a(href="#") Creators
            li.header__menu-item 
                a(href="#") Community
        h1.header__title NFTKING
        button.header__button.main-button Conect Wallet
    