main.main
    .container 
        .main__discover 
            .main__info 
                h2.main__title-top Discover & Collect <span>Super Rare</span> Digital Artworks
                p.main__top-text The largest NFT marketplace. Authentic and truly unique digital creation. Signed and issued by the creator, made possible by blockchain technology
                .main__buttons-block 
                    button.main__explore Let’s Explore
                    button.main__sell Sell NFT
            .main__cards 
                .main__cards-container
                    .main__card1 
                        img(src="public/img/img1.png", alt="picture")
                    .main__card2 
                        img(src="public/img/img2.png", alt="picture")
                    .main__card3 
                        img(src="public/img/img3.png", alt="picture")
                .main__cryptos-logos 
                    ul.main__cryptos-list 
                        li.main__cryptos-item
                            img(src="/public/img/metamask.svg", alt="logo metamask")
                        li.main__cryptos-item
                            img(src="/public/img/binance.svg", alt="logo binance")
                        li.main__cryptos-item
                            img(src="/public/img/coinbase.svg", alt="logo coinbase")
        .main__trending 
            .main__midlle-text-block 
                h2.main__title-middle Trending This Week
                p.main__text-middle Various kinds of Artwork categories that are trending this week. The trend will be reset every week. Don’t miss out on the best artworks every week
            .main__products 
                .main__product-container 
                    .main__product-img
                        img(src="/public/img/Rectangle22.png", alt="")
                    .main__product-info 
                        .main__product-left
                            .main__product-name Miles Grogosters
                            .main__product-tag @rominolegs
                            .main__product-price 4.99 ETH
                        .main__product-right 
                            button.main__product-button.main-button Collect Now
                .main__product-container 
                    .main__product-img
                        img(src="/public/img/Rectangle22(1).png", alt="")
                    .main__product-info 
                        .main__product-left
                            .main__product-name Reox Fancxy
                            .main__product-tag @hibnastiar
                            .main__product-price 3.27 ETH
                        .main__product-right 
                            button.main__product-button.main-button Collect Now
                .main__product-container 
                    .main__product-img
                        img(src="/public/img/Rectangle22(2).png", alt="")
                    .main__product-info 
                        .main__product-left
                            .main__product-name Miles Grogosters
                            .main__product-tag @senjadisini
                            .main__product-price 4.20 ETH ETH
                        .main__product-right 
                            button.main__product-button.main-button Collect Now
                .main__product-container 
                    .main__product-img
                        img(src="/public/img/Rectangle22(3).png", alt="")
                    .main__product-info 
                        .main__product-left
                            .main__product-name Tuinz Rey
                            .main__product-tag @@albertov
                            .main__product-price 2.99 ETH
                        .main__product-right 
                            button.main__product-button.main-button Collect Now
        
        .main__gallery 
            .main__gallery-title Top List Creator
            .main__gallery-buttons
                button.main__gallery-button Popular
                button.main__gallery-button Following
            .content
                .main__gallery-list.slider 
                    .main__gallery-item 
                        .main__gallery-img 
                            img(src="public/img/Rectangle73b.png", alt="picture")
                        .main__gallery-avatar
                            img(src="public/img/avatar1.png", alt="avatar")
                        .main__gallery-item-title Hibnastiar
                        .main__gallery-item-amount 27.3K <span> Artwork </span>
                        .main__gallery-item-button Followed
                    .main__gallery-item 
                        .main__gallery-img 
                            img(src="public/img/Rectangle73(1).png", alt="picture")
                        .main__gallery-avatar
                            img(src="public/img/avatar2.png", alt="avatar")
                        .main__gallery-item-title Hibnastiar
                        .main__gallery-item-amount 27.3K <span> Artwork </span>
                        .main__gallery-item-button Followed
                    .main__gallery-item 
                        .main__gallery-img 
                            img(src="public/img/Rectangle73.png", alt="picture")
                        .main__gallery-avatar
                            img(src="public/img/avatar3.png", alt="avatar")
                        .main__gallery-item-title Hibnastiar
                        .main__gallery-item-amount 27.3K <span> Artwork </span>
                        .main__gallery-item-button Followed
                    .main__gallery-item 
                        .main__gallery-img 
                            img(src="public/img/Rectangle73(2).png", alt="picture")
                        .main__gallery-avatar
                            img(src="public/img/avatar4.png", alt="avatar")
                        .main__gallery-item-title Hibnastiar
                        .main__gallery-item-amount 27.3K <span> Artwork </span>
                        .main__gallery-item-button Followed
                    .main__gallery-item 
                        .main__gallery-img 
                            img(src="public/img/Rectangle73.png", alt="picture")
                        .main__gallery-avatar
                            img(src="public/img/avatar3.png", alt="avatar")
                        .main__gallery-item-title Hibnastiar
                        .main__gallery-item-amount 27.3K <span> Artwork </span>
                        .main__gallery-item-button Followed
                    .main__gallery-item 
                        .main__gallery-img 
                            img(src="public/img/Rectangle73.png", alt="picture")
                        .main__gallery-avatar
                            img(src="public/img/avatar3.png", alt="avatar")
                        .main__gallery-item-title Hibnastiar
                        .main__gallery-item-amount 27.3K <span> Artwork </span>
                        .main__gallery-item-button Followed