footer.footer
    .footer__container.container
        a.logo(href="index.html")
            img(src="./public/img/logo-white.svg", alt="")
        .footer__content
            .footer__nav
                a.footer__nav_item(href="#") Privacy Policy
                a.footer__nav_item(href="#") Terms of Use
                a.footer__nav_item(href="#") Refund Policy
                a.footer__nav_item(href="#") Billing Policy
                a.footer__nav_item(href="#") Safety Tips
            .footer__text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatiselit ut aliquam, purus si