script(src='./public/js/jquery-3.4.1.min.js')
script(src='./public/js/jquery.nice-select.min.js')
script(src='./public/js/validation.js')
script(src='./public/js/slick.min.js')
script(src='./public/js/main.min.js')
