.cross1
    img(src="public/img/cross-big.svg", alt="")
.cross2
    img(src="public/img/cross-mini.svg", alt="")
.cross3
    img(src="public/img/cross-mini.svg", alt="")
.cross4 
    img(src="public/img/cross-mini.svg", alt="")
.cross5
    img(src="public/img/cross-mini.svg", alt="")
.chip1.chips.parallax
    img(src="public/img/chip1.png", width='481' height='385' alt="" data-depth="-.5")
.chip2.chips.parallax
    img(src="public/img/chip1.png", width='481' height='385' alt="" data-depth="1.5")
.chip3.chips.parallax
    img(src="public/img/chip1.png", width='481' height='385' alt="" data-depth=".5")
.chip4.chips.parallax
    img(src="public/img/chip2.png", width='154' height='150' alt="" data-depth="-1.5")
.chip5.chips.parallax
    img(src="public/img/chip-blur.png", width='559' height='451' alt="" data-depth=".5")
.chip6.chips.parallax
    img(src="public/img/chip-blur.png", width='559' height='451' alt="" data-depth="-.5")