.header
    .container
        //- div(id="sparks")
        .header__logo
            img(src="public/img/logo.svg", alt="")
        .header__title(text='A FEW STEPS AWAY FROM FREE SPINS') A FEW STEPS AWAY FROM FREE SPINS
           