.icons 
    .container
        ul.icons__list
            li.icons__item 
                .img
                    img(src="public/img/crypta.png", width='238' height='238' alt="")
                span 7 BTC 
                p WELCOME BONUS
            li.icons__item 
                .img
                    img(src="public/img/gift.png", width='226' height='226'  alt="")
                span 5000+
                p slots
            li.icons__item 
                .img
                    img(src="public/img/slot.png", width='224' height='226' alt="")
                span vip
                p CASHBACK
            li.icons__item 
                .img
                    img(src="public/img/vip.png", width='225' height='226' alt="")
                span 30+ 
                p CRYPTOCURRENCIES