.main
    
    .container
        .main__reg-steps 
            ul.main__list 
                li.main__item
                    .main__item__top
                        .number-pic
                            img(src="public/img/1.png", width='57' height='60' alt="")
                        span REGISTER OR LOGIN
                    p.main__item__bot Open an account or login. Enter a promo code for the 125% first deposit bonus if you have.
                li.main__item
                    .main__item__top
                        .number-pic
                            img(src="public/img/2.png", width='57' height='60' alt="")
                        span ACTIVATE
                    p.main__item__bot Go to “Bonuses and gifts” in your personal account and enter a special promo code.
                li.main__item
                    .main__item__top
                        .number-pic
                            img(src="public/img/3.png", width='57' height='60' alt="")
                        span PLAY
                    p.main__item__bot Wait for the bonus activation and click on “Play” to claim free spins.
                li.main__item
                    .main__item__top
                        .number-pic
                            img(src="public/img/4.png", width='57' height='60' alt="")
                        span WAGER
                    p.main__item__bot Check the terms and fulfil them to get a bonus.
        .main__pers-pics
            .main__pics-wrap 
                    .main__orange-light
                    //- .fire
                    //- canvas(id='canvas').fire1
                    
                    .main__characters
                        img(src="public/img/characters.png", width='704' height='502' alt="")
                    .items
                        .main__card1.main__cards
                            img(src="public/img/card1.png", width='112' height='114' alt="")
                        .main__card2.main__cards
                            img(src="public/img/card2.png", width='111' height='114' alt="")
                        .main__card3.main__cards
                            img(src="public/img/card3.png",  width='111' height='114' alt="")
                        .main__smoke1 
                            img(src="public/img/smoke1.png",  width='266' height='293' alt="")
                        .main__smoke2
                            img(src="public/img/smoke2.png",  width='235' height='204'  alt="")
                        .main__smoke3 
                            img(src="public/img/smoke1.png",  width='266' height='293'  alt="")
                        .main__smoke4
                            img(src="public/img/smoke2.png",  width='235' height='204'  alt="")
            a(href="https://1xbit.com/registration/").main__btn 
                span CLAIM FREE SPINS
        


