.payments
	.container
		.payments__wrap
			img(src="public/img/payments/btc.png", alt="", width="38", height="38")
			img(src="public/img/payments/ltc.png", alt="", width="38", height="38")
			img(src="public/img/payments/doge.png", alt="", width="38", height="38")
			img(src="public/img/payments/dash.png", alt="", width="38", height="38")
			img(src="public/img/payments/eth.png", alt="", width="38", height="38")
			img(src="public/img/payments/monero.png", alt="", width="38", height="38")
			img(src="public/img/payments/xem.png", alt="", width="38", height="38")
			img(src="public/img/payments/zcash.png", alt="", width="38", height="38")
			img(src="public/img/payments/digibyte.png", alt="", width="38", height="38")
			img(src="public/img/payments/btc_gold.png", alt="", width="38", height="38")
			img(src="public/img/payments/btv_cash.png", alt="", width="38", height="38")
			img(src="public/img/payments/eth_classic.png", alt="", width="38", height="38")
			img(src="public/img/payments/bitshares.png", alt="", width="38", height="38")
			img(src="public/img/payments/verge.png", alt="", width="38", height="38")
			img(src="public/img/payments/qtum.png", alt="", width="38", height="38")
			img(src="public/img/payments/ripple.png", alt="", width="38", height="38")
			img(src="public/img/payments/bsc.png", alt="", width="38", height="38")
			img(src="public/img/payments/busd.png", alt="", width="38", height="38")

			img(src="public/img/payments/polkadot.png", alt="", width="38", height="38")
			img(src="public/img/payments/eos.png", alt="", width="38", height="38")
			img(src="public/img/payments/usd_coin.png", alt="", width="38", height="38")
			img(src="public/img/payments/TrueUSD.png", alt="", width="38", height="38")
			img(src="public/img/payments/Paxos.png", alt="", width="38", height="38")
			img(src="public/img/payments/Tether-on-Ethereum.png", alt="", width="62", height="38")
			img(src="public/img/payments/Tether-on-Tron.png", alt="", width="62", height="38")
			img(src="public/img/payments/Wrapped-Bitcoin-on-Tron.png", alt="", width="62", height="38")
			img(src="public/img/payments/Wrapped-Bitcoin-on-Ethereum.png", alt="", width="62", height="38")
			img(src="public/img/payments/Cardano.png", alt="", width="38", height="38")
			img(src="public/img/payments/DAI.png", alt="", width="38", height="38")
			img(src="public/img/payments/Chainlink.png", alt="", width="38", height="38")
			img(src="public/img/payments/omisego.png", alt="", width="38", height="38")
			img(src="public/img/payments/Basic-Attention-Token.png", alt="", width="38", height="38")
			img(src="public/img/payments/tron.png", alt="", width="38", height="38")
			img(src="public/img/payments/Stellar.png", alt="", width="38", height="38")